/**
RADIUS SYSTEM
 */
/**
COLOR SYSTEM
 */
/** Auto generate buttons, gradients */
.radius {
  border-radius: 4px;
}

.rounded {
  border-radius: 50%;
}

.gradient {
  background-size: 200% auto;
  transition-duration: 0.5s;
}
.gradient:hover {
  background-position: right center;
}

.gradient-green {
  background-image: linear-gradient(to right, #36BA9B 0%, #2d9a81 50%, #36BA9B 100%);
}

.gradient-blue {
  background-image: linear-gradient(to right, #39AED9 0%, #2699c4 50%, #39AED9 100%);
}

.gradient-yellow {
  background-image: linear-gradient(to right, #F5B946 0%, #f3aa1f 50%, #F5B946 100%);
}

.gradient-red {
  background-image: linear-gradient(to right, #D94352 0%, #ca2939 50%, #D94352 100%);
}

.gradient-orange {
  background-image: linear-gradient(to right, #F4645F 0%, #f13f39 50%, #F4645F 100%);
}

.message {
  width: 100%;
  padding: 15px;
  text-align: center;
  border-radius: 4px;
}

.message-success {
  border: 1px solid #36BA9B;
  color: #36BA9B;
}

.message-alert {
  border: 1px solid #F5B946;
  color: #F5B946;
}

.message-error {
  border: 1px solid #D94352;
  color: #D94352;
}

.message-info {
  border: 1px solid #39AED9;
  color: #39AED9;
}
