/**
    COLORS
 */
$color-green: #36BA9B;
$color-background: #F7FBFC;
$color-body: #6194A0;
$color-default: #888;
$color-red: #D94352;

/**
    RADIUS SYSTEM
 */
$radius-normal: 5px;
$radius-medium: 10px;
$radius-large: 20px;

/*
    FONTS
*/
$font-small: .875em;
$font-medium: 1.2em;
$font-large: 1.4em;
$weight-bold:700;
$font-color: $color-default;

/*
    AREA
*/
$area-small: 10px;
$area-normal: $area-small * 2;
$area-box: $area-small * 3;



