/**
RADIUS SYSTEM
 */
$radius-normal: 4px;
$radius-medium: 10px;
$radius-large: 20px;

/**
COLOR SYSTEM
 */

$color-green: #36BA9B;
$color-blue: #39AED9;
$color-yellow: #F5B946;
$color-red: #D94352;
$color-orange: #F4645F;

$gradient-hover-type: 'darken';
$gradient-hover-amount: 8%;

/** Auto generate buttons, gradients */
$theme-colors: () !default;
$theme-colors: map_merge(
        (
            "green": $color-green,
            "blue": $color-blue,
            "yellow": $color-yellow,
            "red": $color-red,
            "orange": $color-orange
        ), $theme-colors
);

