/**
COLORS
 */

$color-green:#36BA9B;

/**
RADIUS SYSTEM
 */

$radius-normal: 4px;
$radius-medium: 10px;
$radius-large: 20px;

/**
RADIUS SYSTEM
 */

$body-bg:#F7FBFC;
$body-color:#6194A0;

/**
FONTS
 */

$font-small: .875em;
$font-large: 1.4em;

$weight-bold:700;

/**
AREA
 */

$area-small: 10px;
$area-normal: $area-small * 2;
$area-box: $area-small * 3;



